<% layout('layouts/boilerplate') %>

<%- include('./partials/navbar') %>    

    <div class="alert alert-danger" role="alert">
        <h1>error page</h1>  
        <%=err%> 
    </div>

</body>
</html>