.sam{
    background-color:  peru;
}

.samarth{
    font-size: 50px;
}

.neha{
    border: 3px solid yellow;
}
.maniket{
    color: red;
}

.changu-mangu{
    text-shadow: 2px 2px 2px rgb(84, 78, 78);
}
.toggle{
    background-color: cyan;
}