
<% layout('layouts/boilerplate') %>

<%- include('../partials/navbar') %>    

<div class="row">
    <div class="col-6 mx-auto">

        <form action="/products" method="POST" class="needs-validation" novalidate >


            <div class="mb-3">
                <label for="naam">Name: </label>
                <input type="text" class="form-control" name="name" id="naam" placeholder="Name of the product" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter the name field.
                </div>
            </div>

            <div class="mb-3">
                <label for="img">Image: </label>
                <input type="text" class="form-control" name="img" id="img" placeholder="Image URL of the product" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter the image URL field.
                </div>
            </div>

            <div class="mb-3">
                <label for="paisa">Price: </label>
                <input type="number" class="form-control" name="price" id="paisa" placeholder="price of the product" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter the price field.
                </div>
            </div>

            <div class="mb-3">
                <label for="desc">Description: </label>
                <textarea name="desc" id="desc" rows="5" placeholder="Description of product" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter the Description field.
                </div>
            </div>
            <button class="btn btn-sm btn-success" type="submit">Add Product</button>

        </form>

    </div>
        
</div>


<script>
    // iife(immidiately invoked functional expression)
    (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    })
    })()
</script>

</body>
</html>



