<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Get vs Post</h1>

    <fieldset>

        <legend>GET</legend>
        <form action="/user" method="GET">

            <label for="name">Name: </label>
            <input type="text" name="username" id="name">
        
            <label for="age">Age: </label>
            <input type="text" name="age" id="age">

            <button type="submit">Submit</button>
        
        </form>

    </fieldset>
    


    <hr>
    <br>
    <hr>

    <fieldset>

        <legend>POST</legend>
        <form action="/user" method="POST">

            <label for="name">Name: </label>
            <input type="text" name="username" id="name">
        
            <label for="age">Age: </label>
            <input type="text" name="age" id="age">

            <button type="submit">Submit</button>
        
        </form>

    </fieldset>

    
</body>
</html>