<!-- include heder -->
<%- include('./partials/header')  %>
   
<button id="btn">Click me</button>
<h1>hello ji</h1>
    <p>
        kaise ho mere pyaare desh vaasio
    </p>
    
<!-- include footer -->
<%-  include('./partials/footer') %>
    