.quote{
    max-width: 700px;
    margin: 20px auto;
    padding: 16px;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h3{
    font-size: 18px;
    margin-top: 8px;

}

h3::before{
    content: '~';
}

.quote p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 26px;
    margin: 0;
    text-transform: uppercase;
}

.quote button{
    font-size: 20px;
    background-color: rgb(19, 100, 19);
    color: white;
    padding: 10px;
}