<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <fieldset>
        <legend>Form for Editing a Blog</legend>
        <form action="/blogs/<%=foundComment.id%>?_method=PATCH" method="POST">

            <label for="comment">Comment: </label>
            <input type="text" name="comment" id="comment" value="<%=foundComment.comment%>">
            <br>
            <button type="submit">Edit Comment</button>
        </form>

    </fieldset>
    
</body>
</html>