
<% layout('layouts/boilerplate') %>

<%- include('../partials/navbar') %>    

    <ul>
        <% for(let item of user.cart){ %>
            <li><%=item.name%> --> <%=item.price%></li>
        <% } %>
    </ul>

</body>
</html>