.user{
    width: 300px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    text-align: center;
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.26) ;
    padding-bottom: 10px;
    /* display: inline-block; */
    /* margin: 10px auto; */
}

img{
    width: 100%;
}