<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <ul>
        <% for(let item of products){ %>
            <li>
                <img src="<%=item.img%>" alt="">
                <h3><%=item.name%></h3>
                <h5><%=item.price%></h5>
                <p><%=item.desc%></p>
            </li>
        <% } %>
    </ul>

</body>
</html>