.todo{
    padding: 14px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.34);
    margin-bottom: 10px;
    font-size: 1.8rem;
    background-color: bisque;
    font-weight: bold;
}
.todo span:nth-of-type(2){
    float: right;
    /* cursor: pointer; */
}
input[type="checkbox"]{
    margin: 10px;
    margin-right: 17px;
}
.checked{
    text-decoration: line-through;
}