/* h3{
    display: inline;
    width: 400px;
    height: 400px;
    background-color: forestgreen;
} */

/* display inline-block */
/* h3{
    width: 400px;
    height: 400px;
    background-color: rgb(160, 230, 160);
    display: inline-block;
}

span{
    width: 400px;
    height: 400px;
    background-color: rgb(180, 160, 230);
    display: inline-block;
} */

div{
    display: inline-block;
    width: 200px;
    height: 200px;
}

div:nth-of-type(2){
    /* display: none; */
    visibility: hidden;
}