.image{
    width: 90vw;
    height: 70vh;
    border: 2px solid black;
    background-image:url('https://images.unsplash.com/photo-1677049875333-a293f67b3c5b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=60');
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;
    background-position: center;
    /* background-position: left; */

    /* opacity: 0.5; */
    filter: grayscale(0%);

}
.image:hover{
    filter: grayscale(90%);
    cursor: pointer;
}